#pyramid {
  line-height: 0;
  font-size: 30px;
  padding-right: 35%;
  text-align: right;
}

.titleBox{
  color: white;
  border: solid;
  border-color: palevioletred;
  background-color: palevioletred;
}

.bigBox {
  border: solid;
  border-color: palevioletred;
  border-radius: 4px;
  background-color: lightgray;
}

.topBox {
  text-align: center;
  background-color: rgb(146, 146, 146);
}

body {
  font-family: "Courier New", monospace;
  text-align: center;
}